a:hover {
    background: rgba(151, 145, 145, 50%);
    color: gold!important;
}

#Tecnologias .card:hover {
    background: white!important;
}

.TecTitles:hover *, .TecTitles:hover {
    background: rgba(151, 145, 145, 100%)!important;
    color: gold!important;
}

#NavBar {
    border: 2px solid white!important;
}

.ProfileImage {
    position: relative;
    background: linear-gradient(to right, #e20707, #d4c706);
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50%;
    width:450px;
    height:450px;
}

.ProfileImage:after {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 440px;
    height: 440px;
    content: "";
    background-color: black;
    background-image: url("../images/Foto de Perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-toggler {
    box-shadow: none!important;
}

.navbar-toggler:hover {
    background: rgba(151, 145, 145, 70%);
}

#SobreMim .HeaderWrapText h4, #SobreMim .HeaderWrapText p{
    background: #e20707; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e20707, #d4c706); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e20707, #d4c706); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    text-align: center;
}

.HeaderWrapBorder {
    background: black;
    border-radius: 12px;
    margin: 0px;
    padding: 2px;
    padding-bottom: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.HeaderWrapContainer {
    background: linear-gradient(to right, #e20707, #d4c706);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/border-radius: 12px;
    padding: 3px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.Icon::before {
    background: linear-gradient(to right, #3ec83c, #007bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#Educacao h3 {
    font-size: 200%;
    margin-top: 15px;
    font-weight: bold;
}

#Educacao p {
    font-size: 20px;
    margin-bottom: 30px;
}

#Educacao a {
    text-decoration: none;
    background: #f7005c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7005c, #d74102);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7005c, #d74102); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 22px;
    margin-bottom: 25px;
    display: inline-block;
    font-weight: bold;
}

#Educacao a:hover {
    background: grey;
    color: gold!important;
}

#Educacao .Curso {
    margin-top: 0!important;
    margin-bottom: 80px;
}

#Projetos .carousel-item .container *{
    background:linear-gradient(to right, #224ce0, #ab2e5a)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text!important;
    background-clip: text!important;
    color: transparent!important;
    font-weight: bold!important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;
}

#Projetos .carousel-item .container h1 {
    font-size: 50px!important;
}

#Projetos .carousel-item .container p {
    font-size: 35px!important;
}

#Educacao .card-body h3, #Educacao .card-body p {
    background: linear-gradient(to right, #f7005c, #d74102); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

footer {
    padding: 0px;
    margin: 0 auto ;
    border: 1px solid #1c1b1b;
    background: #191919;
}

footer h2 {  
    background: linear-gradient(to right, #fcb045 30%, #fd1d1d 50%, #833ab4 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 20px auto;
    font-size: 30px;
    font-family: 'Berkshire Swash', cursive;
}

#Contato a {
    text-decoration: none;
    color: black
}

.Email {
    background: -webkit-linear-gradient(      45deg,      rgba(255, 0, 0, 1)33%,      rgba(255, 154, 0, 1) 66%,      rgba(208, 222, 33, 1) 100%  );
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Github {
    background: -webkit-linear-gradient(      45deg,      rgba(79, 220, 74, 1) 25%,      rgba(63, 218, 216, 1) 50%,      rgba(47, 201, 226, 1) 75%,      rgba(28, 127, 238, 1) 100%  );
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Linkedin {
    background: -webkit-linear-gradient(      45deg,      rgba(28, 127, 238, 1) 25%,      rgba(95, 21, 242, 1) 50%,      rgba(186, 12, 248, 1) 75%,      rgba(251, 7, 217, 1) 100%  );
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar {
    height: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    background: linear-gradient(to top, #c90d0d, #c5b82b, #3ec83c, #007bff, #224ce0, #ab2e5a, #d01f61, #e02929);
    box-shadow: black;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    height: 250px;
    border: solid white 0.5px;
}

::-webkit-scrollbar-track {
    border: solid white;
    border-width: 0.7px;
}

@media screen and (min-width: 1200px) {
    #NavBar a {
        border-left: 1px solid white;
    }
}

@media screen and (min-width: 380px) {
    #Educacao a {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar-text {
        margin: 0!important;
    }

    .H1-SobreMim {
        margin-top: 100px!important;
    }
}
@media screen and (max-width: 1238px) {
    #NavBar a, .navbar-text {
        font-size: 30px;
    }
}
@media  screen and (max-width: 1000px) {
    .SobreMim h1 {
        font-family: 'Berkshire Swash', cursive!important;
        font-size: 25px;
    }
}

@media screen and (max-width: 803px) {
    #Projetos .carousel-item .container h1 {
        font-size: 40px!important;
    }
    
    #Projetos .carousel-item .container p {
        font-size: 30px!important;
    }

    .Carrosel {
        height: 85vh!important;
    }
}

@media  screen and (max-width: 700px) {
    .ProfileImage {
        width: 350px;
        height: 350px;
    }

    .ProfileImage:after {
        width: 340px;
        height: 340px;
    }
}

@media  screen and (max-width: 600px) {
    .ProfileImage {
        width: 320px;
        height: 320px;
    }

    .ProfileImage:after {
        width: 310px;
        height: 310px;
    }
}

@media  screen and (max-width: 530px) {
    .navbar-text {
        font-size: 30px!important;
        margin: 0;
    }
}

@media  screen and (max-width: 500px) {
    

    .ProfileImage {
        width: 270px;
        height: 270px;
    }

    .ProfileImage:after {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width: 450px) {
    #Projetos .carousel-item .container *{
        -webkit-text-stroke: 0.3px white;
    }
    
    #Projetos .carousel-item .container h1 {
        font-size: 35px!important;
    }
    
    #Projetos .carousel-item .container p {
        font-size: 20px!important;
    }
}

@media  screen and (max-width: 442px) {
    .navbar-text{
        font-size: 25px!important;
    }

    #NavBar a {
        font-size: 25px;
    }
}

@media  screen and (max-width: 430px) {
    .ProfileImage {
        width: 240px;
        height: 240px;
    }

    .ProfileImage:after {
        width: 230px;
        height: 230px;
    }

    #Contato h2 {
        font-size: 25px;
    }

    #Educacao h3 {
        font-size: 25px;
    }
}

@media  screen and (max-width: 410px) {
    .navbar-brand img {
        width: 40px!important;
    }

    .navbar-toggler {
        height: 30px;
        width: 30px;
    }

    .navbar-toggler * {
        height: 20px;
        width: 20px;
    }

    .H1-SobreMim {
        margin-top: 70px!important;
    }
}

@media screen and (max-width: 400px) {
    #Educacao h3 {
        font-size: 170%;
    }
}

@media screen and (max-width: 365px) {
    #Projetos .carousel-item .container h1 {
        font-size: 30px!important;
    }
    
    #Projetos .carousel-item .container p {
        font-size: 20px!important;
    }
}

@media  screen and (max-width: 354px) {
    .navbar-brand img {
        width: 30px!important;
    }

    .navbar-text {
        font-size: 20px!important;
    }

    #NavBar a {
        font-size: 20px;
    }

    .ProfileImage {
        width: 170px;
        height: 170px;
    }

    .ProfileImage:after {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 341px) {
    #Projetos .carousel-item .container h1 {
        font-size: 28px!important;
    }
    
    #Projetos .carousel-item .container p {
        font-size: 20px!important;
    }
}

@media screen and (max-width: 315px) {
    #Educacao a {
        padding: 5px!important;
        font-size: 18px;
    }
} 

@media  screen and (max-width: 300px) {
    .Email, .Github, .Linkedin {
        width: 67px!important;
    }
}

@media  screen and (max-width: 297px) {
    .navbar-text{
        font-size: 15px!important;
    }

    #NavBar a {
        font-size: 15px!important;
    }
}

@media  screen and (max-width: 290px) {
    .Django {
        font-size: 100px!important;
    }

    .Flask {
        font-size: 100px!important;
    }
}

@media  screen and (max-width: 249px) {
    .navbar-text{
        font-size: 12px!important;
    }

    #NavBar a {
        font-size: 12px!important;
    }

    .navbar-brand img {
        width: 27px!important;
    }

    .navbar-toggler {
        height: 30px;
        width: 30px;
    }

    .navbar-toggler * {
        height: 18px;
        width: 18px;
    }
}

